<%= turbo_frame_tag id="title" do %>
  Here will be title
  <%end%>

    <%= turbo_frame_tag id="new_post" do %>

      <%= link_to "New Post" , new_post_path(format: :turbo_stream), class: "btn btn-primary" , data: {
        turbo_frame: "new_post" , turbo_prefetch: "false" } %>
        <% end %>
          <p style="color: green">
            <%= notice %>
          </p>

          <h3>Posts</h3><span id="the_count"> Count: <%= Post.count%></span>

          <div id="posts">
            <% @posts.each do |post| %>
              <%= render post %>
                <% end %>
          </div>